/* FORMS */

.main-form {
    border: 3px solid #000;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 3rem 2rem;
    height: auto;
}

.formulario {
    /*border: 3px solid green;*/
    /*padding: 3em 0;*/
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: initial;
}

.formulario-div {
    /*border: olive 3px dashed;*/
    margin: 1em;
    font-size: 1.6em;
}

.formulario-titulo {
    /*border: 3px solid yellow;*/
    color: var(--azul-escuro);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 1em;
}

.formulario-input {
    border: none;
    background-color: var(--pessego);
    color: var(--laranja-escuro);
    font-weight: bold;
    border-radius: 20px;
    margin-right: 10px;
    padding: 10px 15px 10px 15px;
    width: 40vw;
}

.formulario-label {
    /*border: 3px dashed blueviolet;*/
    line-height: 1.5;
    padding: 1em;
    font-weight: 700;
    color: var(--azul-escuro);
}

.formulario-botao {
    margin-top: 2em;
}

.formulario-post:hover {
    background-color: var(--azul-escuro);
    color: var(--ciano);
}

.formulario-post {
    background-color: var(--ciano);
    color: var(--azul-escuro);
    font-size: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    border: none;
    padding: 1.2rem;
    border-radius: 20px;
}