/* MAIN BODY INDEX */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.menu-lateral {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
}

/* MENU LATERAL */
/* .menu-lateral-ul {

} */

.filtros {
  display: none;
  flex-direction: column;
  width: 20vw;
  border: 1px solid lightgray;
  padding: 1vh;
  margin-top: 1vh;
}

.filtros-ul {
  display: grid;
}

.lista-estoque {
  display: none;
  width: 100%;
}

.cabecalho {
  background-color: #31edae;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.itens-estoque {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.descricao {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 500px) {

}

@media screen and (min-width: 501px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) {
 
}