/* LISTAGEM */

main {
  padding-top: 15vh;
  border: solid 3px lawngreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.botao-voltar {
  display: none;
}

.filtros {
  display: none;
  flex-direction: column;
  width: 20vw;
  border: 1px solid lightgray;
  padding: 1vh;
  margin-top: 1vh;
}

.filtros-ul {
  display: grid;
}

.lista-estoque {
  border: 3px solid darkred;
  /*display: flex;*/
  width: 100%;
}

.lista-estoque-ul {
  border: yellow 3px solid;
}

.lista-estoque-li {
  border: 1px solid black;
  /*list-style-type: none;*/
  /*display: flex;*/
  /*flex-wrap: nowrap;*/
  /*align-items: center;*/
  /*justify-content: space-around;*/
}

.lista-estoque-div {
  border: 2px solid gray;
  margin: 1vh 0;
  padding: 1vh 0;
}

.coluna {
  border: violet 3px dashed;
}

.cabecalho {
  background-color: var(--ciano);
  color: var(--azul-escuro);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.produto {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.coluna-produto {

}

.coluna-qtd {

}

.coluna-preco {

}

.coluna-subcategoria {

}

.coluna-categoria {

}

.coluna-empty {

}

.coluna-botao {

}

#view-product {

}



/*.descricao {*/
/*  display: flex;*/
/*  justify-content: flex-start;*/
/*}*/

@media screen and (max-width: 500px) {

}

@media screen and (min-width: 501px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) {
 
}