/* MENU LATERAL */

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(200,200,200,0.5);
}

.menu-lateral {
    /*border: darkblue solid 3px;*/
    background-color: var(--laranja-escuro);
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
}

.menu-lateral-content {
    /*border: black solid 3px;*/
    margin-top: 30vh;
    width: 100%;
}

.menu-lateral-titulo {
    /*border: lightgreen solid 3px;*/
    color: var(--ciano);
    padding: 1.5vh 1.5em;
    width: 100%;
}

.menu-lateral-ul {
    /*border: olivedrab solid 3px;*/
    left: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 2vh 0;
    width: 100%;
}

.menu-lateral-ul a {
    text-decoration: none;
}

.menu-lateral-li {
    /*border: mediumspringgreen solid 3px;*/
    padding: 1.5vh 1.5em;
    width: 100%;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.menu-lateral-li:hover {
    background-color: var(--laranja);
}


@media screen and (max-width: 500px) {

}

@media screen and (min-width: 501px) and (max-width: 1023px) {

}

@media screen and (min-width: 1024px) {

}