/* FORMS */

.main-form {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formulario {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: initial;
}

.formulario-div {
    margin: 1em;
    font-size: 1.6em;
}

.formulario-titulo {
    color: var(--azul-escuro);
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 1em;
}

.formulario-input {
    background-color: var(--pessego);
    color: var(--laranja-escuro);
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    padding: 10px 15px 10px 15px;
    width: 40vw;
}

.formulario-label {
    line-height: 1.5;
    padding: 1em;
    font-weight: 700;
    color: var(--azul-escuro);
}

.formulario-botao {
    margin-top: 2em;
}

.formulario-post:hover {
    background-color: var(--azul-escuro);
    color: var(--ciano);
}

.formulario-post {
    background-color: var(--ciano);
    color: var(--azul-escuro);
    font-size: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    border: none;
    padding: 1em;
    border-radius: 20px;
}

.container-radio{
    display: flex;
}

.container-radio div{
    padding: 10px;
}