/* FORMS */

.main-form {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.formulario {
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: initial;
}


.formulario-div {
    margin: 1em;
    font-size: 1.6em;
}

.formulario-titulo {
    color: black;
    font-weight: bold;
    font-size: 21px;
}

.formulario-input {
    width: 50vw;
    border-radius: 24px;
    display: block;
    color: black;
    padding: 1em
}

.formulario-label {
    line-height: 1.5;
    padding: 0 0 .1em 1em;
    font-weight: 700;
    color: black;
}

.formulario-botao {
    padding: 1em 3em;
    margin: 2em 0;
    border-radius: 24px;
    background-color: green;
}

.container-radio{
    display: flex;
}

.container-radio div{
    padding: 10px;
}