/* CSS RESET: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* MEU CSS */

body {
  width: 100%;
}

header {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: blue;
  padding: 1vh;
}

header span {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 1vh;
}

/* .botao-opcoes {
  
} */

.titulo {
  display: flex;
  width: 100%;
  align-items: center;
  justify-self: center;
}

#popover-menu {
  display: flex;
  height: 80vh;
  align-self: flex-end;
  bottom: 0;
  width: 20vw;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
}

@media (min-width: 750px) {
    header{
       height: 20%;
    }
}

@media (min-width: 1100px) {
    header {
       height: 30%;
    }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.filtros {
  display: flex;
  flex-direction: column;
  width: 20vw;
  border: 1px solid lightgray;
  padding: 1vh;
  margin-top: 1vh;
}

.filtros-aplicados {
  display: flex;
  width: 100%;
  left: 20vw;
  top: 0;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid lightgray;
  margin-bottom: 1vh;
}

.lista-estoque {
  display: flex;
  width: 75vw;
  gap: 1vh 1vw;
}

table {
  border-color: 1px solid lightgray;
  width: 100%;
}
