/* CSS RESET: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* MEU CSS */

@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
}

h1, h2, h3, button {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */

header {
  position: fixed;
  height: fit-content;
  width: 100%;
  background-color: #ff751f;
  padding: 1vh;
}

nav {
  width: 100%;
}

.nav-lista {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 3px;
}

/* .nav-item {
  border: 2px solid black;
} */

.nav-item-div {
  /* border: white 2px solid; */
  display: inline-flex;
  align-items: center;
}

.nav-menu-lateral {
  flex-grow: 0;
}

.nav-home {
  flex-grow: 0;
}

.nav-pesquisador {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav-login {
  flex-grow: 0;
}

.nav-menu-lateral-div {
  left: 0px;
  margin: 2vh 3vw;
}

.menu-lateral-botao {
  padding: 0;
}

.home-div {
  margin: 1vh 3vw 0 1vw;
}

.home-botao {
  padding: 0;
}

.pesquisador-div {
  padding: 0;
}

.pesquisador {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#pesquisa {
  background-color: #c7fae9;
  color: #1800ad;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  padding: 10px 15px 10px 15px;
}

.login-div {
  margin: 2vh 4vw;
}

.login-avatar {
  display: none;
}

.avatar {
  height: 6vh;
  width: 6vh;
}

.button, .login-avatar {
  color: #1800ad;
  background-color: transparent;
  border: none;
}

.login-botao {
  background-color: #31edae;
  color: #1800ad;
  font-size: large;
  border: none;
  padding: 12px 15px;
  border-radius: 10px;
}

.login-botao:hover {
  background-color: #1800ad;
  color: #31edae;
}

.icon {
  max-width: 2em;
  max-height: 2em;
  vertical-align: -0.125em;
}

li {
  list-style: none;
  flex-direction: row;
}

li a {
  text-decoration: none;
}

.logo {
  max-width: 13vw;
  height: auto;
}


/* MAIN BODY */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.menu-lateral {
  display: flex;
  justify-content: flex-start;
  left: 0;
}

.filtros {
  display: none;
  flex-direction: column;
  width: 20vw;
  border: 1px solid lightgray;
  padding: 1vh;
  margin-top: 1vh;
}

.lista-estoque {
  display: none;
  width: 100%;
}

.cabecalho {
  background-color: #31edae;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.itens-estoque {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.descricao {
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 500px) {

  .nav-item {
    border: 2px solid violet;
  }

  .nav-item-div {
    border: yellow 2px solid;
  }

  .nav-pesquisador {
    flex-grow: 0;
    width: 70%;
  }

  .home-div {
    margin: 0;
    padding-left: 1vw;
  }

  .pesquisador-div {
    width: 100%;
  }

  .pesquisador {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  #pesquisa {
    height: 2em;
    width: 100%;
  }

  .login-div {
    margin: 0 1vw 0 4vw;
  }

  .login-botao {
    font-size: medium;
    padding: 10px 13px;
    border-radius: 10px;
  }

  .avatar {
    height: 2em;
    width: 2em;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
  }

  .logo {
    min-width: 32vh;
    height: auto;
  }

}

@media screen and (min-width: 501px) and (max-width: 1023px) {
    
  .nav-item {
    border: 2px solid green;
  }

  .nav-item-div {
    border: darkred 2px solid;
  }

  .pesquisador-div {
    padding: 0;
    width: 100%;
  }

  #pesquisa {
    width: 100%;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
  }

  .logo {
    min-width: 15vh;
    height: auto;
  }

}

@media screen and (min-width: 1024px) {
 
}