/* CSS RESET: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* MEU CSS */

body {
  width: 100%;
}

@media screen and (max-width: 500px) {
  header {
    height: 10%;
  }

  .logo {
    height: 10vh;
    width: auto;
  }

  #pesquisa {
    width: 50%;
  }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
      height: 20%;
  }

  .logo {
    height: 10vh;
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  header {
      height: 30%;
  }

  .logo {
    height: 10vh;
    width: auto;
  }
}

/* HEADER */

header {
  position: fixed;
  height: fit-content;
  width: 100%;
  background-color: #ff751f;
  padding: 1vh;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
}

.nav-menu-lateral {
  position: fixed;
  display: inline-flex;
  align-items: center;
  left: 20px;
}

.home {
  position: fixed;
  display: inline-flex;
  align-items: center;
  left: 60px;
}

.nav-lista {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3px;
}

.nav-item-div {
  display: inline-flex;
  align-items: center;
}

li {
  list-style: none;
  flex-direction: row;
  /* margin: 0 1vw; */
}

li a {
  text-decoration: none;
}

.button, .login-avatar {
  color: #1800ad;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon {
  height: 4vh;
  width: 4vh;
  vertical-align: -0.125em;
}

.logo {
  height: 12vh;
  width: auto;
}

.pesquisador {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#pesquisa {
  background-color: #c7fae9;
  color: #1800ad;
  border: none;
  border-radius: 10px;
  margin-right: 10px;
}

.login-botao {
  background-color: #31edae;
  color: #1800ad;
  border: none;
  padding: 1vh 2vw;
  border-radius: 10px;
}

.login-avatar {
  display: none;
}

.avatar {
  height: 6vh;
  width: 6vh;
}

/* MAIN BODY */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.menu-lateral {
  display: flex;
  justify-content: flex-start;
  left: 0;
}

.filtros {
  display: none;
  flex-direction: column;
  width: 20vw;
  border: 1px solid lightgray;
  padding: 1vh;
  margin-top: 1vh;
}

.lista-estoque {
  display: none;
  width: 100%;
}

.cabecalho {
  background-color: #31edae;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.itens-estoque {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.descricao {
  display: flex;
  justify-content: flex-start;
}
